<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WSLBrandName</key>
	<string>$(BRAND_NAME)</string>
	<key>WSLBrandMark</key>
	<string>$(BRAND_MARK)</string>
	<key>WSLBrandLegalName</key>
	<string>$(BRAND_LEGAL_NAME)</string>
	<key>WSLBrandStrapline</key>
	<string>$(BRAND_STRAPLINE)</string>
	<key>WSLBrandAddress</key>
	<string>$(BRAND_ADDRESS)</string>
	<key>WSLBrandPhone</key>
	<string>$(BRAND_PHONE)</string>
	<key>WSLBrandEmail</key>
	<string>$(BRAND_EMAIL)</string>
	<key>WSLBrandCompanyNumber</key>
	<string>$(BRAND_COMPANY_NUMBER)</string>
	<key>WSLBrandVATNumber</key>
	<string>$(BRAND_VAT_NUMBER)</string>
	<key>WSLAPIBaseURL</key>
	<string>$(API_BASE_URL)</string>
	<key>WSLAPIEnvironmentName</key>
	<string>$(API_ENVIRONMENT_NAME)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<!-- Local configuration only: plain http to the OPSAPI Docker container on 127.0.0.1. -->
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>uk.co.workstation.wslcrm.mywork-refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
	</array>
</dict>
</plist>
